﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    This homepage was made by aspnet with C#, running inside linux docker container
                    <a class="btn btn-default" href="/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Microservices</h2>
        <ul>
            <li>homepage - /</li>
            <li>catalog - /catalog</li>
            <li>checkout - /checkout</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Containers</h2>
        <ul>
            <li>astore:homepage</li>
            <li>astore:catalog</li>
            <li>astore:checkout</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Stack</h2>
        <ul>
            <li>aspnet</li>
            <li>json-server</li>
            <li>json-server</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Scaling</h2>
        <ul>
            <li>2 -> 100</li>
            <li>2 -> 200</li>            
            <li>2 -> 200</li>            
        </ul>
    </div>
</div>
